body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#bulb{
    align-content: center;
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 50%;    
    background-color: green;
}

button{
    height: 70px;
    width: 140px;
    font-size: 20px;
    margin: 20px;

}